body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'poppinsregular';
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#title {
    margin-left: 20px;
    flex-direction: column;
    line-height: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: green;
    transition: 0.3s all;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    font-size: 50px;
    line-height: 1;
    font-family: 'poppinsmedium';
    margin-bottom: 20px;
}

span {
    color: green;
}

p {
    line-height: 1.5;
    font-family: 'poppinslight';
    max-width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

aside,
article {
    flex: 1;
    padding: 10px;
}

article {
    text-align: center;
}

img {
    max-width: 90%;
    height: 500px;
    display: block;
    margin: 0 auto;
    max-height: 580px;
}

#inscreva-se-btn {
    border: 3px solid green;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 24px;
}

#inscreva-se-btn:hover {
    color: green;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

form [type="text"],
form [type="password"],
form [type="submit"] {
    margin: 15px 0;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    
}

form [type="submit"] {
    height: 60px;
    background-color: green;
    color: white;
    font-weight: bold;
    width: 50%;
}

form [type="submit"]:hover {
    cursor: pointer;
}
