body{
    background-color: rgb(34, 34, 34);
    margin: 0 auto;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.left-login > h1{
    font-size: 3vw;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    background-color:rgb(49, 47, 47);
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px 35px;
    box-shadow: 0px 10px 40px black;
}

.text-field{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


#txt-login{
    color: green;
    font-size: 2vw;
}

img {
   width:  35vw;
}

span{
    color: green;
}


form {
    width: 15vw;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

form [type="text"],
form [type="password"],
form [type="button"] {
    color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.4vw;
    width: 100%;
    border: none;
    background-color: rgb(70, 67, 67);
    box-shadow:  0px 10px 40px -12px black;
}

form [type="button"] {
    height: 3vw;
    background-color: green;
    color: rgb(49, 47, 47);
    font-weight: bold;
    width: 60%;
    box-shadow: 0px 10px 40px -12px green;

}

form [type="button"]:hover{
    cursor: pointer;
}